# problem 1

In [3]:
for i in range(0,10+1,2):
    print(i)

0
2
4
6
8
10

In [4]:
for i in range(10-1,0,-1):
    print(i)

9
8
7
6
5
4
3
2
1

In [11]:
lis= [1,2,3,4,5]
list(reversed(lis))

[5, 4, 3, 2, 1]

In [14]:
for i in reversed(range(0,10,1)):
    print(i)

9
8
7
6
5
4
3
2
1
0

In [9]:
a =input("enter the number: ")
a= int(a)
for i in range(a-1,0,-1):
#     if i != 6:  
#         print(i)
    if i == 6:
        continue
    print(i)

enter the number: 10
9
8
7
5
4
3
2
1

In [5]:
a= input()
type(a)

10

str

# problem 2

In [20]:
friends = ["Mohamed", "Shady", "ahmed", "eman", "Sherif","mona","Salah"]
# i=0
# no_upper=0
# while  i < len(friends):
#     if friends[i][0].isupper():
#         print(friends[i])
#     else:
#         no_upper+=1
        
#     i+=1
# print(f"Friends Printed And Ignored Names Count Is {no_upper}")
i=0 
not_upper=0
while i < len(friends):
    if friends[i][0].isupper(): 
        print(friends[i])
    else:
        not_upper+=1
    i+=1
print(f"Friends Printed And Ignored Names Count Is {not_upper}")

Mohamed
Shady
Sherif
Salah
Friends Printed And Ignored Names Count Is 3

In [15]:
friends[0][0].isupper()

True

## problem 3

In [1]:
skills = ["HTML", "CSS", "JavaScript", "PHP", "Python"]

In [10]:
print(*skills,sep="\n")

HTML
CSS
JavaScript
PHP
Python

In [9]:
print(skills)

['HTML', 'CSS', 'JavaScript', 'PHP', 'Python']

In [22]:
age=1
name =None
if age:
    print("there is age")
else:
    print("there is no age")

there is age

In [2]:
while skills:
     print(*skills,sep="\n");skills = None

HTML
CSS
JavaScript
PHP
Python

In [29]:
 print(*skills,sep="\n")

HTML
CSS
JavaScript
PHP
Python

## 4

In [ ]:
# my_list=[]
# while True:
#      # condition of close
#     if len(my_list) ==4:
#         break
#     # take inputs
#     name= input("enter the name: ")
#     if name.isupper():
#         print("invalid name")
#     elif name.islower():
#         my_list.append(name.title())
#         "Friend osama Added => 1st Letter Become Capital"
#         print(f"Friend {name} Added => 1st Letter Become Capital")
#     elif name[0].isupper():
#         my_list.append(name)
#         print(f"Friend {name} is added")

enter the name: dsgfd
Friend dsgfd Added => 1st Letter Become Capital

In [9]:
my_lis=[]
length_list=4
i=0  # number of added
while True:
    if len(my_lis) == length_list:
        break 
    name= input("enter the name : ")
    if name.isupper():
        print("invalid name")
    elif name.islower():
        name=name.title()
        my_lis.append(name)
        i+=1
        print(f"Friend {name} Added => 1st Letter Become Capital")
        print(f"names lift in list is { length_list-i} ")
    elif name[0].isupper():
        my_lis.append(name)
        i+=1
        print(f"Friend {name} is added")
        print(f"names lift in list is { length_list-i }")

enter the name : Ahmed
Friend Ahmed is added
names lift in list is 3
enter the name : OSAME
invalid name
enter the name : mohamed
Friend Mohamed Added => 1st Letter Become Capital
names lift in list is 2
enter the name : Mohamed
Friend Mohamed is added
names lift in list is 1
enter the name : UUDUSFDSF
invalid name
enter the name : Salah
Friend Salah is added
names lift in list is 0

In [10]:
my_lis

['Ahmed', 'Mohamed', 'Mohamed', 'Salah']

## 5-

In [7]:
my_nums = [15, 81, 5, 17, 20, 21, 13]

In [4]:
20 % 5 == 0

True

In [9]:
new=sorted(my_nums)

In [11]:
list(reversed(new  ) )

[81, 21, 20, 17, 15, 13, 5]

In [15]:
index=1
for i in reversed(sorted(my_nums)):
    if i % 5 ==0 :
        print(f" {index} = > {i}") 
        index+=1

 1 = > 20
 2 = > 15
 3 = > 5

## 6

In [21]:
for i in range(1,21):
    s =str(i)
#     if i not in (6,8,12):
    if i !=6 and i!=8 and i!= 12:  
        print( s.zfill(2))

01
02
03
04
05
07
09
10
11
13
14
15
16
17
18
19
20

# 7

In [27]:
my_ranks = {
  'Math': 'A',
  "Science": 'B',
  'Drawing': 'A',
  'Sports': 'C'
}
grad ={
    "A":100,
    "B":80,
    "C":40
}
for key,value in my_ranks.items():
    print(f"My Rank in {key} Is A And This Equal {grad[value]} Points")

My Rank in Math Is A And This Equal 100 Points
My Rank in Science Is A And This Equal 80 Points
My Rank in Drawing Is A And This Equal 100 Points
My Rank in Sports Is A And This Equal 40 Points

In [25]:
grad["A"]

100

## 8

In [33]:
students = {
  "Ahmed": {
    "Math": "A",
    "Science": "D",
    "Draw": "B",
    "Sports": "C",
    "Thinking": "A"
  },
  "Sayed": {
    "Math": "B",
    "Science": "B",
    "Draw": "B",
    "Sports": "D",
    "Thinking": "A"
  },
  "Mahmoud": {
    "Math": "D",
    "Science": "A",
    "Draw": "A",
    "Sports": "B",
    "Thinking": "B"
  }
}
points={
    "A":100,
    "B":80,
    "C":40,
    "D":20
}

In [37]:
for name ,subjects in students.items():
    print("-"*50)
    print(f"student : {name}")
    print("-"*50)
    total=0
    for subject , grade in subjects.items():
        print(f" {subject} => {points[grade]}  points") 
        total += points[grade]
    print(f"total marks are : {total}")

--------------------------------------------------
student : Ahmed
--------------------------------------------------
 Math => 100  points
 Science => 20  points
 Draw => 80  points
 Sports => 40  points
 Thinking => 100  points
total marks are : 340
--------------------------------------------------
student : Sayed
--------------------------------------------------
 Math => 80  points
 Science => 80  points
 Draw => 80  points
 Sports => 20  points
 Thinking => 100  points
total marks are : 360
--------------------------------------------------
student : Mahmoud
--------------------------------------------------
 Math => 20  points
 Science => 100  points
 Draw => 100  points
 Sports => 80  points
 Thinking => 80  points
total marks are : 380

In [31]:
"-"*30

'------------------------------'